<div class="recent-config-container">
    <div id="recentConfig" class="recent-config">
        <div class="column4">
            <h3><%= bmc.support.GlobalConfig.getInstance().LANGUAGE.RECENT_CONFIGURATIONS %></h3>
            <p><%= bmc.support.GlobalConfig.getInstance().LANGUAGE.RECENT_CONFIGURATIONS_BODY %></p>
            <a href="<%= bmc.support.GlobalConfig.getInstance().MARKET_HOME_PAGE %>" class="change-model button icon"><%= bmc.support.GlobalConfig.getInstance().LANGUAGE.CHANGE_MODEL %><span></span></a>
        </div>
    </div>
</div>